<div class="bootstrap-wrapper" *ngIf="!submitted">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-2 mt10">
                <mat-card style="width: 100%;">
                    <mat-card-content>
                        <h2 class="text-center">Tick-Tock !!</h2>
                        <h3 class="text-center">{{setTime()}}</h3>
                        <mat-spinner color="accent" style="margin: auto;" 
                                     mode="determinate" 
                                     [diameter] ="70"
                                     [value]="(timer/(questions.length * 60))*100">
                        </mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>

            <div class="col-md-9">
                <mat-card *ngFor="let q of questions; let i = index" class="mt10">
                    <mat-card-content>
                        <p><b>Q {{i+1}} :</b> <span class="ml10" [innerHTML]="q.content"></span></p>
                        <mat-divider></mat-divider>
                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option1" name='givenAns{{i}}' [(ngModel)]="q.givenAns">
                                {{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option2" name='givenAns{{i}}' [(ngModel)]="q.givenAns">
                                {{q.option2}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option3" name='givenAns{{i}}' [(ngModel)]="q.givenAns">
                                {{q.option3}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [value]="q.option4" name='givenAns{{i}}' [(ngModel)]="q.givenAns">
                                {{q.option4}}
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>
                <div class="container text-center mt20 mb20">
                    <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Quiz</button>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>


<div class="bootstrap-wrapper" *ngIf="submitted">
    <div class="container">
        <div class="row ">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mt20">
                    <mat-card-header>
                        <mat-card-title>Score Card</mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="text-center">
                        <h3>Questions Attempted : {{attempted}}</h3>
                        <h3>Correct : {{correct}}</h3>
                        <h3>Marks Scored : {{marksScored}}</h3>
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="container text-center">
                            <button mat-raised-button color="primary">Print</button>
                            <button mat-raised-button color="accent">Home</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>